html{
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 18px;
    position: fixed;
    line-height: 20px;
 }

  img{
    object-fit: cover;
    width: 50px;
    float: left;
  }

  .roam{
    width: 30px;
    height: 60px;
    background: -webkit-linear-gradient(90deg, rgb(239, 220, 192), rgb(170, 141, 80), rgb(153, 118, 41) );
    opacity: 0.4;
    animation: roam 10s ease-in-out infinite;
    margin: 0 auto;
    position:absolute;
    left: 0;
}

@keyframes roam {
    0% {
        left: -6%;
      }
    50% {
        left: 100%;
      }
    100% {
        left: -6%;    
      }
    }

    header, .header{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        background-color: #0a0a23;
        height: 60px;
        padding: 0.3em;
        align-items: center;
        flex-wrap: wrap;
        padding-inline-start: 0;
        margin-block: 0;
       
    }
    header > p{
        display: block;
        margin: 0 0.2rem;
        padding: 0.2rem;
    }
    .sign{
        float:right;
        margin-right: 30px;
    }
    
    .logo{
        width: 50%;
        display: inline;
    }

    main{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        gap: 40px;
        vertical-align: top;
 }

section{
    overflow: scroll;
    overflow-x: hidden;
    height: 70%;
    width: 70%;
    padding: 20px;

}
section > p{
    background-color: #232341;
    color: gray;
    padding: 20px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
}

a{
    color: #f5f6f7;
    text-decoration: none;
}
a:hover{
    color: gray;
    cursor: pointer;
}
.left{
    margin-right: 50px;
    margin-left: 20px;
    border-right: 2px solid #0a0a23;
    padding-right: 50px;
}

footer{
    text-align: center;
    position: absolute ;
    bottom: 0;
    background-color: #0a0a23;
    width: 100%;
    height: 60px;
    margin-top: 20px;
    padding: 0.3em;
    justify-content: center;

}
span{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    font-weight:lighter;
    gap: 30px;
}
.desc{
    background-color: #232341;
    border-radius: 15px;
    padding-top: 0;
    margin: 0;

    
}