html{
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 18px;
    position: fixed;
  }

  img{
    object-fit: cover;
    width: 50px;
    float: left;
  }

  .form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin:0 auto;
    margin-top: 50px;
    display: block;
    background-color: #464679;
    padding: 2em;
    border-radius: 20px;
    height: 30%;
  }

  input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:  30px;
    width: 80%;
    min-height: 2em;
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
    height: 40px;
    border-radius: 10px;
    margin-left: 20px;
  }

header, .header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #0a0a23;
    height: 60px;
    padding: 0.3em;
    align-items: center;
    flex-wrap: wrap;
    padding-inline-start: 0;
    margin-block: 0;
   
}
header > p{
    display: block;
    margin: 0 0.2rem;
    padding: 0.2rem;
}
.sign{
    float:right;
    margin: 20px;
}

.logo{
    width: 50%;
    display: inline;
}

h3{
    margin-left: 50px;
}
.login-here{
    text-align: center;
    margin-top: 20px;
}
footer{
    text-align: center;
    position: absolute ;
    bottom: 0;
    background-color: #0a0a23;
    width: 100%;
    height: 60px;
    margin-top: 20px;
    padding: 0.3em;
    justify-content: center;

}

.button{
    display: block;
    width: 60%;
    height: 2em;
    font-size: 1.1rem;
    border-color: white;
    min-width: 300px;
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #4b4b4b;
    margin: 20px;
    border-radius: 10px;
}
a{
    color: #f5f6f7;
    text-decoration: none;
}
a:hover{
    color: gray;
    cursor: pointer;
}
.button:hover{
    background-color: #4e4f50;
    color: #0a0a23;
    cursor: pointer;
    opacity: 0.5;

}
.button:active{
    background-color: #0a0a23;
    color: #4b4b4b;
}
h1{
    margin-right:70px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.roam{
    width: 30px;
    height: 60px;
    background: -webkit-linear-gradient(90deg, rgb(239, 220, 192), rgb(170, 141, 80), rgb(153, 118, 41) );
    opacity: 0.4;
    animation: roam 10s ease-in-out infinite;
    margin: 0 auto;
    position:absolute;
    left: 0;
}

@keyframes roam {
    0% {
        left: -6%;
      }
    50% {
        left: 100%;
      }
    100% {
        left: -6%;    
      }
    }