html{
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 18px;
    position: fixed;
    line-height: 20px;
 }

  img{
    object-fit: cover;
    width: 50px;
    float: left;
  }

  .roam{
    width: 30px;
    height: 60px;
    background: -webkit-linear-gradient(90deg, rgb(239, 220, 192), rgb(170, 141, 80), rgb(153, 118, 41) );
    opacity: 0.4;
    animation: roam 10s ease-in-out infinite;
    margin: 0 auto;
    position:absolute;
    left: 0;
}

@keyframes roam {
    0% {
        left: -6%;
      }
    50% {
        left: 100%;
      }
    100% {
        left: -6%;    
      }
    }

    header, .header{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        background-color: #0a0a23;
        height: 60px;
        padding: 0.3em;
        align-items: center;
        flex-wrap: wrap;
        padding-inline-start: 0;
        margin-block: 0;
       
    }
    header > p{
        display: block;
        margin: 0 0.2rem;
        padding: 0.2rem;
    }
    .sign{
        float:right;
        margin-right: 30px;
    }
    
    .logo{
        width: 50%;
        display: inline;
    }

    main{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        gap: 40px;
        vertical-align: top;
 }
 section{
    height: 80%;
    width: 100%;
    padding: 20px;
    overflow: scroll;
    overflow-x: hidden;

}
section > p{
    background-color: #232341;
    color: gray;
    padding: 20px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
}

a{
    color: #f5f6f7;
    text-decoration: none;
}
a:hover{
    color: gray;
    cursor: pointer;
}
.left{
    margin-right: 50px;
    margin-left: 20px;
    border-right: 2px solid #0a0a23;
    padding-right: 50px;
}

footer{
    text-align: center;
    position: absolute ;
    bottom: 0;
    background-color: #0a0a23;
    width: 100%;
    height: 60px;
    margin-top: 20px;
    padding: 0.3em;
    justify-content: center;

}
span{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    font-weight:lighter;
    gap: 30px;
    padding: 20px;
    flex-wrap: wrap;
}
.desc{
    background-color: #232341;
    border-radius: 15px;
    padding-top: 0;
    margin: 0;
    padding: 20px;

    
}
.right{
    margin-right: 30px;
    border-left: 2px solid #0a0a23 ;
    padding-left: 60px;
    width: 20%;
}

h5{
    background-color: #232341;
    color: rgb(180, 211, 211);
    padding: 20px;
    border-radius: 20px;
}

.button{
    display: block;
    width: 60%;
    height: 2em;
    font-size: 1.1rem;
    border-color: white;
    min-width: 300px;
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #4b4b4b;
    margin: 20px;
    border-radius: 10px;
}
textarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:  30px;
    width: 80%;
    min-height: 2em;
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
    height: 100px;
    border-radius: 10px;
    margin-left: 20px;
  }
  
  fieldset{
    border: none;
    margin-top: 30px;
  }
  legend{
    text-align: center;
  }
  .button:hover{
    background-color: #4e4f50;
    color: #0a0a23;
    cursor: pointer;
    opacity: 0.5;

}
.button:active{
    background-color: #0a0a23;
    color: #4b4b4b;
}
#button{
    display: block;
    width: 20%;
    height: 2em;
    font-size: 1.1rem;
    border-color: white;
    min-width: 300px;
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #4b4b4b;
    margin: 20px;
    border-radius: 10px;
}
#button:hover{
    background-color: #4e4f50;
    color: #0a0a23;
    cursor: pointer;
    opacity: 0.5;

}
#button:active{
    background-color: #0a0a23;
    color: #4b4b4b;
}